@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix for not showing blue box around active items on mobile. */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.profile-picture {
  content: url("images/image-jeremy.png");
}

.icon-ellipsis {
  content: url("images/icon-ellipsis.svg");
}

div:hover > .icon-ellipsis {
  content: url("images/icon-ellipsis-white.svg");
}

.icon-work {
  content: url("images/icon-work.svg");
}

.icon-play {
  content: url("images/icon-play.svg");
}

.icon-study {
  content: url("images/icon-study.svg");
}

.icon-exercise {
  content: url("images/icon-exercise.svg");
}

.icon-social {
  content: url("images/icon-social.svg");
}

.icon-self-care {
  content: url("images/icon-self-care.svg");
}
