/* mobile */
@media (max-width: 640px) {
  .bg {
    background: no-repeat url("images/bg-pattern-top-desktop.svg"),
      right bottom no-repeat url("images/bg-pattern-bottom-desktop.svg");
  }
}

/* desktop */
@media (min-width: 640px) {
  .bg {
    background: no-repeat url("images/bg-pattern-top-desktop.svg"),
      right bottom no-repeat url("images/bg-pattern-bottom-desktop.svg");
  }
}
