/* mobile */
@media (max-width: 640px) {
  .bg {
    background: no-repeat calc(50% - 450px) calc(50% - 450px) url("images/bg-pattern-top.svg"),
      no-repeat calc(50% + 460px) calc(50% + 420px) url("images/bg-pattern-bottom.svg");
  }
}

/* desktop */
@media (min-width: 640px) {
  .bg {
    background: no-repeat calc(50% - 517px) calc(50% - 380px) url("images/bg-pattern-top.svg"),
      no-repeat calc(50% + 470px) calc(50% + 489px) url("images/bg-pattern-bottom.svg");
  }
}
